@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.icon {
  width: 1rem;
  margin: 0 5px;
}
.icon.btn-icon:active {
  transform: scale(0.9);
}

html {
  background-color: #f3f3f3;
}

body {
  min-height: 100vh;
  color: #202124;
  background-color: #f3f3f3;
  position: relative;
  padding-top: 1rem;
}

.container {
  width: 95%;
  max-width: 1024px;
  padding-bottom: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
@media (min-width: 480px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

header.header {
  background-color: rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 25px 1fr auto;
  align-items: center;
  border-radius: 32px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 14px -7px #000000;
  position: relative;
  padding: 0.5rem;
  gap: 0.25rem;
}
@media (min-width: 480px) {
  header.header {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 992px) {
  header.header {
    grid-template-columns: 25px 1fr auto;
    border-radius: 16px;
    gap: 1.5rem;
    padding: 0.75rem 1.5rem;
    margin-bottom: 2rem;
  }
}
header.header span {
  color: rgba(32, 33, 36, 0.7);
}
header.header button.sidebar-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header button.sidebar-button span {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  header.header button.sidebar-button span {
    font-size: 2rem;
  }
}
header.header .empty-trash {
  justify-self: center;
}
header.header .empty-trash button {
  padding: 0.5rem 1.5rem;
  background: transparent;
  font-weight: bold;
  text-align: center;
  color: #1a73e8;
  border-radius: 0.5rem;
  transition: 0.25s ease background;
}
header.header .empty-trash button:hover {
  background-color: rgba(66, 133, 244, 0.08);
}
header.header .empty-trash button:focus {
  background-color: rgba(66, 133, 244, 0.122);
}
header.header .input-search {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
header.header .input-search input {
  flex-grow: 1;
}
@media (min-width: 992px) {
  header.header .input-search {
    padding: 0.5rem 1.5rem;
  }
}
header.header .input-search > * {
  border: none;
  background: transparent;
  font-size: 0.75rem;
}
@media (min-width: 480px) {
  header.header .input-search > * {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  header.header .input-search > * {
    font-size: 1.25rem;
  }
}
header.header .input-search button {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.header .input-search button span {
  color: #202124;
  font-size: 1rem;
}
@media (min-width: 992px) {
  header.header .input-search button span {
    font-size: 1.75rem;
  }
}
header.header .right-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
}
@media (min-width: 992px) {
  header.header .right-component {
    gap: 0.5rem;
  }
}
@media (min-width: 992px) {
  header.header .right-component {
    gap: 1.5rem;
  }
}
header.header .icons {
  width: 24px;
}
header.header .icons button {
  background: transparent;
  display: none;
  font-size: 24px;
  color: rgba(32, 33, 36, 0.7);
}
@media (min-width: 992px) {
  header.header .icons button {
    font-size: 2rem;
  }
}
header.header .icons button.active {
  display: block;
}
@media (min-width: 992px) {
  header.header .icons {
    width: 32px;
  }
}
header.header .profile-image {
  aspect-ratio: 1/1;
  width: 28px;
  border-radius: 100%;
  overflow: hidden;
}
@media (min-width: 992px) {
  header.header .profile-image {
    width: 32px;
  }
}
header.header .profile-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-container .dropdown {
  position: absolute;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 3px 15px -7px #000000;
  padding: 1rem 2rem;
  border-radius: 8px;
  right: 0;
  top: 3.5rem;
  display: none;
}
.header-container .dropdown.active {
  display: block;
}
@media (min-width: 992px) {
  .header-container .dropdown {
    padding: 1rem 4rem;
    top: 5rem;
  }
}
.header-container .dropdown .user-image {
  position: relative;
  text-align: center;
}
.header-container .dropdown .user-image img {
  max-width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 0;
}
.header-container .dropdown .user-image .icon-camera {
  font-size: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 60%;
  background: #fff;
  padding: 0.5rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 13px -7px #000000;
}
.header-container .dropdown .user-data {
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 1.5rem;
}
.header-container .dropdown .user-data h2 {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
@media (min-width: 992px) {
  .header-container .dropdown .user-data h2 {
    font-size: 1rem;
  }
}
.header-container .dropdown .user-data span {
  font-size: 0.75rem;
}
@media (min-width: 992px) {
  .header-container .dropdown .user-data span {
    font-size: 0.875rem;
  }
}
.header-container .dropdown .user-data::after {
  content: "";
  position: absolute;
  width: 125%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 50%;
  z-index: 90;
  transform: translate(-50%, 0);
}
.header-container .dropdown .user-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.header-container .dropdown .user-options a {
  color: #202124;
  list-style: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.header-container .dropdown .user-options span {
  font-size: 1.25rem;
}
.header-container .dropdown .close-bttn {
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 0.5rem;
  right: 0.5rem;
}

.card-container {
  position: relative;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.card {
  position: relative;
  z-index: 1;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 3px 13px -7px #000000;
  transition: 1ms ease all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card:hover {
  box-shadow: 0px 5px 13px -7px #000000;
}
.card a {
  color: rgba(32, 33, 36, 0.7);
}
.card a.main-content {
  margin-bottom: 1rem;
}
.card h3 {
  color: #202124;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}
@media (min-width: 480px) {
  .card h3 {
    font-size: 1.125rem;
  }
}
.card .content {
  line-height: 1.25;
  font-size: 0.75rem;
}
@media (min-width: 480px) {
  .card .content {
    font-size: 0.875rem;
  }
}
.card ul,
.card ol {
  padding-left: 1.5em;
  list-style: auto;
}
.card .tags-container {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.card .label {
  display: inline-block;
  min-width: 2.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0.25s ease all;
  font-size: 0.875rem;
}
.card .label:hover {
  background: rgba(0, 0, 0, 0.15);
}
@media (min-width: 480px) {
  .card .label {
    font-size: 1rem;
  }
}
.card .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .icons i {
  cursor: pointer;
}
.card .icons > a {
  margin-bottom: 0;
  font-size: 1.25rem;
}
.card .options {
  color: rgba(32, 33, 36, 0.7);
  justify-content: flex-start;
  display: flex;
  gap: 0.75rem;
}
.card .options button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.card .options i:hover {
  background: rgba(0, 0, 0, 0.15);
}

.card-container .dropdown {
  overflow: hidden;
  margin-top: -0.75rem;
  right: 0;
  z-index: 20;
  background: #fff;
  box-shadow: 0px 3px 15px -7px #000000;
  position: absolute;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.5rem 0;
  display: none;
}
.card-container .dropdown.active {
  display: flex;
}
.card-container .dropdown .menu-item {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  background: transparent;
  color: #202124;
}
.card-container .dropdown .menu-item:hover {
  background: rgba(0, 0, 0, 0.15);
}

.add-note-bttn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background: #fde291;
  box-shadow: 0px 5px 13px -7px #000000;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-note-bttn span {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 992px) {
  .add-note-bttn {
    width: 4rem;
    height: 4rem;
  }
  .add-note-bttn span {
    font-size: 2rem;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.menu-container {
  transition: 0.5s ease all;
  overflow: hidden;
  position: fixed;
  width: 80%;
  z-index: 20;
  left: -100%;
  top: 0;
  bottom: 0;
  background: #fff;
  padding-top: 2rem;
  padding-right: 3rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
}
@media (min-width: 480px) {
  .menu-container {
    width: 65%;
  }
}
@media (min-width: 992px) {
  .menu-container {
    width: 30%;
    padding-top: 3rem;
    padding-right: 3rem;
  }
}
.menu-container button {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.menu-container li {
  padding: 0.75rem;
  padding-left: 1rem;
  border-radius: 0 50px 50px 0;
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .menu-container li {
    font-size: 1rem;
    padding-left: 3rem;
  }
}
.menu-container li .icons {
  margin-right: 1rem;
}
.menu-container li a {
  display: flex;
  align-items: center;
  color: #202124;
}
.menu-container li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.menu-container li.active {
  background-color: #feefc3;
}
.menu-container .general {
  margin-bottom: 3rem;
  position: relative;
}
.menu-container .general::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  left: 50%;
  bottom: -1.5rem;
  z-index: 90;
  transform: translate(-50%, 0);
}
.menu-container .labels h3 {
  color: #202124;
  margin-bottom: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .menu-container .labels h3 {
    font-size: 1.17rem;
  }
}
.menu-container .bttn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.menu.active .overlay {
  display: block;
}
.menu.active .menu-container {
  left: 0;
}

.alert-title {
  font-size: 1.5rem !important;
}

.form-labels {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.form-labels .input-container,
.form-labels label {
  display: flex;
  align-items: center;
}
.form-labels .input-container {
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.form-labels .input-container button {
  background-color: transparent;
}
.form-labels .alert-label-container {
  padding-bottom: 0;
  margin-bottom: 0.75rem;
  border-bottom: none;
}
.form-labels .alert-label-container span {
  margin-right: 0.25rem;
}
.form-labels .alert-label-container label {
  flex-grow: 1;
}
.form-labels input[type=text] {
  flex-grow: 1;
  border: none;
  margin-left: 0.25rem;
}
.form-labels input[type=submit] {
  border: 0;
  border-radius: 0.25rem;
  background: #7066e0;
  color: #fff;
  font-size: 1rem;
  padding: 0.625em 1.1em;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.form-labels input[type=submit]:focus {
  box-shadow: 0 0 0 3px rgba(112, 102, 224, 0.5);
}
.form-labels input[type=checkbox] {
  width: 2em;
  /* Double-sized Checkboxes */
  /* IE */
  /* FF */
  /* Safari and Chrome */
  /* Opera */
  transform: scale(1.5, 1.5);
  padding: 10px;
}
.form-labels.home label {
  width: 1.75rem;
  flex-grow: 0;
  order: -1;
}
.form-labels.home .delete-icon {
  cursor: pointer;
  display: none;
}
.form-labels.home input[type=text]:focus + label .label-icon,
.form-labels.home input[type=text]:hover + label .label-icon,
.form-labels.home label:hover .label-icon,
.form-labels.home label:focus .label-icon {
  display: none;
}
.form-labels.home input[type=text]:focus + label .delete-icon,
.form-labels.home input[type=text]:hover + label .delete-icon,
.form-labels.home label:hover .delete-icon,
.form-labels.home label:focus .delete-icon {
  display: block;
}
.form-labels.home label.edit {
  order: 0;
}

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-danger:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-success:focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.title-result {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.notes-section .grid-item {
  margin-bottom: 1.25rem;
  width: calc(50% - 0.5rem);
}
@media (min-width: 992px) {
  .notes-section .grid-item {
    width: calc(33.3% - 0.75rem);
  }
}
.notes-section .no-notes {
  grid-column: 1/-1;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50vh;
}

.header-note {
  background: #fff;
  width: 100%;
  padding: 0.5rem 0;
  box-shadow: 0px 3px 10px -7px #000000;
  position: fixed;
  z-index: 20;
  top: 0;
}
.header-note .container {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.header-note .icons {
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  color: #202124;
}
.header-note .icons:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header-note .options {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.header-note .button-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  gap: 0.25rem;
  border-radius: 1rem;
}
.header-note .button-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}
.header-note .dropdown-editor {
  overflow: hidden;
  position: absolute;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 3px 15px -7px #000000;
  border-radius: 8px;
  padding: 0.5rem 0;
  z-index: 20;
}
.header-note .dropdown-editor.active {
  display: flex;
}
.header-note .dropdown-options {
  top: 2.25rem;
  right: 0;
  display: flex;
  flex-direction: column;
  display: none;
}
.header-note .dropdown-options .menu-item {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  background: transparent;
  color: #202124;
}
.header-note .dropdown-options .menu-item:hover {
  background: rgba(0, 0, 0, 0.15);
}
.header-note .dropdown-colors {
  display: none;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
  top: 2.25rem;
  right: 40px;
}
.header-note .dropdown-colors input {
  display: none;
}
.header-note .dropdown-colors .color-label {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.header-note .dropdown-colors .color-label.active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.header-note #note-form textarea,
.header-note #note-form .note-title {
  display: none;
}

.title-input {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 10px -7px #000000;
  text-align: center;
}

.editor-container {
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 13px -5px #000000;
  margin-bottom: 1.5rem;
}
.editor-container .ql-toolbar.ql-snow {
  background: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 1.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
.editor-container .ql-toolbar.ql-snow::after {
  display: none;
}
.editor-container .ql-container.ql-snow {
  border: none;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  border-radius: 0.5rem;
}
.editor-container .ql-container.ql-snow .ql-editor {
  min-height: 60vh;
}

.label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.label-container h3 {
  font-size: 1rem;
}
.label-container .label {
  box-shadow: 0px 3px 10px -7px #000000;
  color: rgba(32, 33, 36, 0.8);
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  display: inline-block;
  min-width: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.25s ease all;
}
.label-container .label:hover {
  background: rgba(0, 0, 0, 0.15);
}
.label-container .add-bttn {
  box-shadow: 0px 3px 10px -7px #000000;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-list {
  text-align: left;
}
.alert-list li {
  list-style: inside;
}

.profile-title {
  text-align: center;
  font-size: 1.125rem;
  color: #202124;
  align-self: center;
  position: relative;
  right: 50%;
  transform: translate(50%, 0);
}

.profile-form {
  margin-top: 3.25rem;
  color: #202124;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.profile-form input[type=file] {
  visibility: hidden;
  width: 0;
  height: 0;
}
.profile-form .input-container-image {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-form .profile-image {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 75%;
  max-height: 75%;
  position: relative;
}
.profile-form .profile-image figure {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.profile-form .profile-image img {
  transition: 0.25s ease-in-out all;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 3px 7px -4px #000000;
}
.profile-form .profile-image .edit {
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #fff;
  background-color: #feefc3;
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 3px 7px -4px #000000;
}
.profile-form .profile-image:hover img {
  transform: scale(1.1, 1.1);
}
.profile-form .profile-image:hover .edit {
  background-color: #fee8aa;
}
.profile-form .input-container {
  justify-content: center;
  width: 600px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.profile-form .input-container label {
  margin-left: 2.25rem;
  width: 100%;
  text-align: left;
}
.profile-form .input-container .icon {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}
.profile-form .input-container input[type=text],
.profile-form .input-container input[type=password] {
  flex-grow: 1;
  padding: 0.5rem 0.75rem;
  background-color: #f9f9f9;
  border: 3px solid transparent;
  font-size: 1.1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.profile-form .input-container input[type=text]:focus,
.profile-form .input-container input[type=password]:focus {
  border: 3px solid #210099;
  outline: none;
}
.profile-form input[type=submit] {
  max-width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #feefc3;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
}
.profile-form input[type=submit]:hover {
  background-color: #fee8aa;
}

.card-form-container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
}
.card-form-container .form {
  border-radius: 0.5rem;
  background-color: #fff;
  width: 500px;
  min-height: 550px;
  max-width: 100%;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 8px rgba(0, 0, 0, 0.22);
}
@media (min-width: 480px) {
  .card-form-container .form {
    padding: 3.5rem 4rem;
  }
}
.card-form-container h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.card-form-container h2 {
  font-weight: lighter;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.card-form-container .input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2.25rem;
}
.card-form-container .input-container label {
  display: block;
  width: 100%;
  color: #727272;
  text-align: left;
  margin-bottom: 0.25rem;
}
@media (min-width: 480px) {
  .card-form-container .input-container label {
    margin-left: 2rem;
  }
}
.card-form-container .input-container .icon {
  display: none;
}
@media (min-width: 480px) {
  .card-form-container .input-container .icon {
    color: #202124;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    margin-right: 0.5rem;
  }
}
.card-form-container .input-container input[type=email],
.card-form-container .input-container input[type=text],
.card-form-container .input-container input[type=password] {
  flex-grow: 1;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  background-color: #f3f3f3;
}
.card-form-container .input-container input[type=email]:focus,
.card-form-container .input-container input[type=text]:focus,
.card-form-container .input-container input[type=password]:focus {
  border: 3px solid #210099;
  outline: none;
}
.card-form-container .input-container .show-password {
  margin-top: 0.5rem;
  flex-grow: 1;
  display: flex;
}
@media (min-width: 480px) {
  .card-form-container .input-container .show-password {
    padding-left: 2rem;
  }
}
.card-form-container .input-container .show-password label {
  margin-left: 0.5rem;
}
.card-form-container .input-container.sumbit {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 0;
  align-items: center;
}
.card-form-container .input-container.sumbit a {
  border-radius: 0.5rem;
  transition: 0.25s ease all;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #1a73e8;
  font-weight: bold;
  font-size: 0.875rem;
}
.card-form-container .input-container.sumbit a:hover {
  background-color: #ebf3fd;
}
.card-form-container .input-container.sumbit a:focus {
  background-color: #d3e4fb;
}
.card-form-container input[type=submit] {
  max-width: 100%;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  background-color: #feefc3;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.card-form-container input[type=submit]:hover {
  background-color: #fee8aa;
}
